body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f0f8ff;
    color: #333;
}

header {
    background-color: #0077b6;
    color: white;
    padding: 20px;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

main {
    padding: 20px;
}

footer {
    background-color: #0077b6;
    color: white;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

img {
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

img:hover {
    transform: scale(1.05);
}

h2 {
    color: #00507a;
    border-bottom: 2px solid #0077b6;
    display: inline-block;
    padding-bottom: 5px;
}

a {
    color: #0077b6;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

a:hover {
    color: #00507a;
    text-decoration: underline;
}
